@font-face {
  font-family: 'Book';
  src: url('./assets/fonts/Book.otf');
  font-display: hide;
}

@font-face {
  font-family: 'Bold';
  src: url('./assets/fonts/Bold.otf');
  font-display: hide;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  background-color: #ffce01;
  font-family: 'Book';
  font-size: 12.5px;
}

#guide {
  width: 390px;
  height: 844px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -195px;
}

nav {
  width: 100%;
  height: 50px;
  background-color: black;
  position: fixed;
  top: 0;
}

#navIcons {
  width: 982.5px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  gap: 13px;
  justify-content: flex-end;
}

nav svg {
  margin: 13px 0 13px;
  fill: white;
  position: relative;
}

#navBarSearchButton {
  display: none;
}

#container {
  width: 982.5px;
  height: auto;
  margin: 80px auto;
  position: relative;
}

aside {
  width: 172.5px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

#logo {
  width: 172.5px;
  height: 172.5px;
  display: block;
}

aside p {
  margin: 30px 0 0;
}

svg {
  width: 24px;
  height: 24px;
  fill: black;
  position: absolute;
}

#searchBar {
  width: 100%;
  height: auto;
  position: relative;
  margin: 30px 0 0;
}

#searchField {
  font-family: 'Book';
  font-size: 12.5px;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  border-radius: 30px;
  padding-left: 12px;
  padding-right: 42px;
  border: 1px solid black;
  background-color: transparent;
}

#searchField::placeholder {
  color: black;
  opacity: 0.5;
}

#filters {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.buttonBar {
  width: 100%;
  height: 24px;
  position: relative;
  cursor: pointer;
}

.label {
  font-family: 'Bold';
  font-size: 15px;
  height: 24px;
  line-height: 24px;
  margin: 0;
  left: 28px;
  user-select: none;
  position: absolute;
}

#mapButtonBar {
  margin-top: 4px;
}

main {
  width: 780px;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}

main ul {
  padding: 0;
  margin: 0;
  width: 100%;
  display: grid;
  grid-auto-rows: 172.5px;
  grid-template-columns: repeat(4, 172.5px);
  justify-content: start;
  list-style-type: none;
  grid-gap: 30px;
}

main img {
  width: 172.5px;
  height: 172.5px;
  box-sizing: border-box;
}

@media only screen and (max-width: 1042.5px) {
  #container,
  #navIcons {
    width: 780px;
  }

  main {
    width: 577.5px;
  }

  main ul {
    grid-template-columns: repeat(3, 172.5px);
  }
}

@media only screen and (max-width: 840px) {
  #container,
  #navIcons {
    width: 577.5px;
  }

  main {
    width: 375px;
  }

  main ul {
    grid-template-columns: repeat(2, 172.5px);
  }
}

@media only screen and (max-width: 637.5px) {
  #container,
  #navIcons {
    width: 360px;
  }

  main {
    width: 172.5px;
  }

  main ul {
    grid-template-columns: repeat(1, 172.5px);
  }

  #navBarSearchButton,
  #searchMenu,
  #mapMenu {
    display: none;
  }

  #navBarSearchButton {
    display: inline;
  }

  aside {
    width: 360px;
    margin: 0;
  }

  aside p {
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 187.5px;
    width: 172.5px;
  }

  main {
    width: 360px;
    top: 202.5px;
  }

  main ul {
    grid-auto-rows: 110px;
    grid-template-columns: repeat(3, 110px);
    grid-gap: 15px;
  }

  main img {
    width: 110px;
    height: 110px;
  }
}
