@font-face {
  font-family: 'Book';
  src: url('./assets/fonts/Book.otf');
  font-display: hide;
}

@font-face {
  font-family: 'Bold';
  src: url('./assets/fonts/Bold.otf');
  font-display: hide;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  background-color: #ffce01;
  font-family: 'Book';
  font-size: 12.5px;
}

nav {
  width: 100%;
  height: 50px;
  background-color: black;
  position: fixed;
  top: 0;
}

#navIcons {
  width: 982.5px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  gap: 13px;
  justify-content: flex-end;
}

nav svg {
  margin: 13px 0 13px;
  fill: white;
  position: relative;
}

#navBarSearchButton {
  display: none;
}

#container {
  width: 982.5px;
  height: auto;
  margin: 80px auto;
  position: relative;
}

aside {
  width: 172.5px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

#logo {
  width: 172.5px;
  height: 172.5px;
  display: block;
}

aside p {
  margin: 30px 0 0;
}

svg {
  width: 24px;
  height: 24px;
  fill: black;
  position: absolute;
}

#searchBar {
  width: 100%;
  height: auto;
  position: relative;
  margin: 30px 0 0;
}

#searchField {
  font-family: 'Book';
  font-size: 12.5px;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  border-radius: 30px;
  padding-left: 12px;
  padding-right: 42px;
  border: 1px solid black;
  background-color: transparent;
}

#searchField::placeholder {
  color: black;
  opacity: 0.5;
}

#filters {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.buttonBar {
  width: 100%;
  height: 24px;
  position: relative;
  cursor: pointer;
}

.label {
  font-family: 'Bold';
  font-size: 15px;
  height: 24px;
  line-height: 24px;
  margin: 0;
  left: 28px;
  user-select: none;
  position: absolute;
}

#mapButtonBar {
  margin-top: 4px;
}

main {
  width: 780px;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}

main ul {
  padding: 0;
  margin: 0;
  width: 100%;
  display: grid;
  grid-auto-rows: 172.5px;
  grid-template-columns: repeat(4, 172.5px);
  justify-content: start;
  list-style-type: none;
  grid-gap: 30px;
}

main li {
  position: relative;
}

main img {
  width: 172.5px;
  height: 172.5px;
  box-sizing: border-box;
}

.rollOver {
  color: white;
  text-align: center;
  width: 172.5px;
  height: 172.5px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
  opacity: 0;
}

.rollOver:hover {
  opacity: 1;
}

#searchPanel {
  display: none;
}

.shadeOn {
  background-color: black;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  transition: 0.5s;
}

.shadeOff {
  opacity: 0;
  pointer-events: none;
}

.searchPanelOff {
  background-color: white;
  height: 100%;
  width: 232.5px;
  position: absolute;
  left: -232.5px;
  top: 50px;
  padding: 30px;
  display: block;
  box-sizing: border-box;
  transition: 0.5s;
}

.searchPanelOn {
  left: -232.5px;
}

#guide {
  width: 1366px;
  height: 1024px;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -683px;
}

#workModule {
  width: 890px;
  height: auto;
  border-radius: 25px;
  background-color: white;
  opacity: 1;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  margin-left: -445px;
  filter: drop-shadow(0 0 4rem black);
}

#workHero {
  top: 0;
  left: 0;
  width: 400px;
  padding: 30px;
  display: inline-block;
  vertical-align: top;
}

#workInfo {
  top: 0;
  left: 460px;
  width: 400px;
  height: auto;
  padding: 30px 0 30px;
  background-color: transparent;
  box-sizing: border-box;
  display: inline-block;
}

#workTitle {
  font-size: 40px;
  font-family: 'Bold';
  line-height: 40px;
  margin: 0;
  padding: 0;
}

#workDateLocation {
  margin: 15px 0 15px;
}

#workPrices {
  position: relative;
  margin-bottom: 15px;
}

#workPrices input {
  width: 12px;
  height: 12px;
  margin: 1px 4px 1px 4px;
}

#workPrices label {
  display: inline-block;
  font-size: 15px;
  font-family: 'Book';
  color: #aaaaaa;
}

#workPrices label .size {
  font-family: 'Bold';
}

#workPrices label .type {
  padding-left: 5px;
}

#workPrices label .price {
  position: absolute;
  right: 4px;
  font-family: 'Bold';
  color: #888888;
}

#addToCartButton {
  width: 60px;
  height: 60px;
}

#workMapMenu {
  right: 0;
  width: 100%;
  bottom: 0;
  position: relative;
}

#workMapMenu p {
  margin: 0;
}

#addToCartButton {
  width: 60px;
  height: 60px;
  fill: red;
  position: relative;
  margin-bottom: 15px;
}

#workModuleClose {
  position: absolute;
  right: 18px;
  top: 18px;
}

@media only screen and (max-width: 1042.5px) {
  #container,
  #navIcons {
    width: 780px;
  }

  main {
    width: 577.5px;
  }

  main ul {
    grid-template-columns: repeat(3, 172.5px);
  }

  #workModule {
    width: 460px;
    margin-left: -230px;
  }

  #workHero {
    position: relative;
  }

  #workInfo {
    position: relative;
    left: 0;
    padding: 0 30px 30px;
    width: 100%;
  }
}

@media only screen and (max-width: 840px) {
  #container,
  #navIcons {
    width: 577.5px;
  }

  main {
    width: 375px;
  }

  main ul {
    grid-template-columns: repeat(2, 172.5px);
  }
}

@media only screen and (max-width: 637.5px) {
  #container,
  #navIcons {
    width: 360px;
  }

  main {
    width: 172.5px;
  }

  main ul {
    grid-template-columns: repeat(1, 172.5px);
  }

  #navBarSearchButton,
  #searchMenu,
  #mapMenu {
    display: none;
  }

  #navBarSearchButton {
    display: inline;
  }

  aside {
    width: 360px;
    margin: 0;
  }

  aside p {
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 187.5px;
    width: 172.5px;
  }

  main {
    width: 360px;
    top: 202.5px;
  }

  main ul {
    grid-auto-rows: 110px;
    grid-template-columns: repeat(3, 110px);
    grid-gap: 15px;
  }

  main img {
    width: 110px;
    height: 110px;
  }

  .rollOver {
    width: 110px;
    height: 110px;
    padding: 20px;
  }

  .shadeOn {
    opacity: 0.5;
    pointer-events: auto;
  }

  .searchPanelOn {
    left: 0;
  }
}

@media only screen and (max-width: 460px) {
  #navIcons {
    min-width: 320px;
    width: 100%;
    padding-right: 30px;
    box-sizing: border-box;
  }
  #workModule {
    min-width: 320px;
    width: 100%;
    height: 100%;
    filter: none;
    border-radius: 0;
    position: fixed;
    top: 50px;
    left: 0;
    transform: none;
    margin: 0;
  }
  #workHero {
    min-width: 260px;
    width: 100%;
    box-sizing: border-box;
  }
  #workInfo {
    min-width: 260px;
    width: 100%;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 350px) {
  #workPrices label .type {
    font-size: 10px;
  }
}
